
.payment-container{
  font-family: Lato;
  padding:15px 3px;
  background-color:  #eee;
  background-image: url(https://choice.community/uploads/default/original/2X/d/d9d0c6206249a0d56c311495ff689197c2c3aca7.png);
  display: block;
  text-align: center;

  &:before {
    background-color: #eee;
    background-image: url(https://choice.community/uploads/default/original/2X/d/d9d0c6206249a0d56c311495ff689197c2c3aca7.png);
    display: block;
    content: " ";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -110;
  }


  h1 {
    font-family: lato;
  }
}